.block\:blogs {
  @include layout-container;
}

.block\:blogs\:\:row {
  @include breakpoint(from tablet-small) {
    @include layout-flex($align: stretch);
  }
}

.block\:blogs\:\:box {
  @include breakpoint(from tablet-small) {
    width: 30%;
  }

  &:not(:last-child) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1.75);
    }
  }

  &:not(:nth-last-child(-n + 5)) {
    @include breakpoint(from tablet-small) {
      margin-bottom: grid(2);
    }
  }

  &.»empty {
    @include layout-hide;

    @include breakpoint(to tablet-small) {
      display: none;
    }
  }
}

.block\:blogs\:\:spacer {
  background: $GREY;
  width: 1px;

  @include breakpoint(to tablet-small) {
    display: none;
  }

  &.»empty {
    @include layout-hide;
  }
}
