.block\:clients {
  border-bottom: 1px solid $GREY;
  margin-bottom: grid(1.25);
  padding-bottom: grid(1.25);
}

.block\:clients\:\:heading {
  @include heading;
  margin-bottom: grid(.25);
}

.block\:clients\:\:subheading {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  margin-bottom: grid(.75);
}

.block\:clients\:\:list {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.6;

  a {
    color: $GREY;

    &:hover {
      color: $RED;
    }
  }

  li {
    &:not(:last-child) {
      margin-bottom: grid(.25);
    }
  }
}
