.block\:contact {
  @include layout-container($max: 960px);
}

.block\:contact\:\:boxes {
  margin-bottom: grid(4);

  @include breakpoint(from tablet-small) {
    @include layout-flex($align: stretch);
  }
}

.block\:contact\:\:spacer {
  background: $GREY;
  width: 1px;
}

.block\:contact\:\:box {
  &:first-child {
    @include breakpoint(from tablet-small) {
      width: 60%;
    }

    @include breakpoint(to tablet-small) {
      border-bottom: 1px solid $GREY;
      margin-bottom: grid(2);
      padding-bottom: grid(2);
    }
  }

  &:last-child {
    @include breakpoint(from tablet-small) {
      max-width: 345px;
      width: 30%;
    }
  }
}

.block\:contact\:\:heading {
  @include heading;
  margin-bottom: grid(1);
}

.block\:contact\:\:list {
  @include text;
  font-weight: 200;

  li {
    &:not(:last-child) {
      margin-bottom: grid(.5);
    }
  }
}
