.block\:credits {
  font-size: 11px;
  font-weight: 200;

  @include breakpoint(to tablet-small) {
    text-align: center;
  }
}

.block\:credits\:\:boxed {
  display: none;

  @include breakpoint(to tablet-small) {
    margin-bottom: grid(1);
  }
}

.block\:credits\:\:box {
  &:not(:last-child) {
    margin-bottom: grid(1);
  }
}

.block\:credits\:\:heading {
  letter-spacing: .1em;
  margin-bottom: grid(.25);
  text-transform: uppercase;
}

.block\:credits\:\:navigation {
  @include layout-flex($justify: center);

  @include breakpoint(to tablet-small) {
    flex-direction: column;
  }

  a {
    margin: 0 10px;

    &:hover {
      color: $RED;
    }
  }
}
