$o: grid(4);
$om: grid(2);

.block\:footer {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.666667;
  background: $TAN;
  padding: $o 0;

  @include breakpoint(to tablet-small) {
    padding: $om 0;
  }

  &.»splash {
    background: none;
  }

  p {
    &:not(:last-child) {
      margin-bottom: grid(1);
    }

    a {
      &:hover {
        color: $RED;
      }
    }
  }
}

.block\:footer\:\:boxed {
  @include layout-container;
}

.block\:footer\:\:mark {
  margin-bottom: $o;

  @include breakpoint(to tablet-small) {
    margin-bottom: $om;
  }

  svg {
    @include image-max;
    fill: $BROWN;
    margin: 0 auto;
    width: 32px;
  }
}

.block\:footer\:\:boxes {
  @include layout-flex($align: flex-start);

  @include breakpoint(to tablet-small) {
    align-items: center;
    flex-direction: column;
  }
}

.block\:footer\:\:box {
  @include breakpoint(from tablet-small) {
    width: 33.3333333%;
  }

  &:nth-child(1) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
      order: 4;
      text-align: center;
    }

    p {
      @include breakpoint(from tablet-small) {
        max-width: 305px;
      }
    }
  }

  &:nth-child(2) {
    text-align: center;

    .»splash & {
      @include breakpoint(to tablet-small) {
        margin-bottom: 25px;
      }
    }
  }

  &:nth-child(3) {
    @include breakpoint(from tablet-small) {
      text-align: right;
    }

    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }


  &.»alt {
    order: 3;

    @include breakpoint(from tablet-small) {
      display: none;
    }
  }
}

.block\:footer\:\:social {
  @include breakpoint(to tablet-small) {
    justify-content: center;
  }

  &:not(:last-child) {
    margin-bottom: grid(1);
  }

  a:hover {
    svg {
      fill: $RED;
    }
  }
}


.block\:footer\:\:copyright {
  letter-spacing: .1em;
  text-transform: uppercase;
}
