$m: 4.3%;
$w: 29%;

.block\:galleries {
  @include layout-container;
}

.block\:galleries\:\:boxed {
  @include layout-flex($align: flex-start, $justify: flex-start);

  @include breakpoint(from tablet-small) {
    margin-left: -$m;
  }

  @include breakpoint(to tablet-small) {
    justify-content: center;
  }
}


.block\:galleries\:\:box {
  @include breakpoint(from tablet-small) {
    margin-bottom: $m;
    margin-left: $m;
    width: $w;
  }

  &:not(:last-child) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }

  &.»one {
    @include breakpoint(from tablet-small) {
      width: $w*2 + $m;
    }
  }
}
