.block\:header {
  left: 0;
  padding-top: grid(4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  @include breakpoint(to tablet-small) {
    padding-top: grid(2);
  }
}

.block\:header\:\:boxes {
  @include layout-container;
  @include layout-flex($align: flex-start);

  @include breakpoint(to tablet-small) {
    align-items: center;
    flex-direction: column;
  }
}

.block\:header\:\:box {
  @include breakpoint(from tablet-small) {
    width: 33.33333%;
  }

  &:last-child {
    @include layout-flex($justify: flex-end);

    @include breakpoint(from desktop-large) {
      transform: translateX(grid(3));
    }

    @include breakpoint(from desktop-medium) {
      transform: translateX(grid(2));
    }

    @include breakpoint(to tablet-small) {
      order: -1;
      margin-bottom: grid(2);
    }
  }
}

.block\:header\:\:logo {
  svg {
    @include image-max;
    fill: $BLACK2;
    margin: 0 auto;
    transition: fill .4s;
    width: 200px;

    #tagline {
      transition: all .4s;
    }

    .state\:menu\:\:open & {
      fill: $RED;

      @include breakpoint(to tablet-small) {
        display: none;
      }

      #tagline {
        @include layout-hide;
      }
    }
  }
}
