.block\:home {
  @include layout-container;
}


.block\:home\:\:row {
  &:not(:last-child) {
    margin-bottom: 3.5%;

    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }

  &.»dual {
    @include layout-flex($align: stretch);
  }
}

.block\:home\:\:box {
  &.»half {
    @include breakpoint(from tablet-small) {
      width: 48%;
    }
  }

  &:not(:last-child) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }
}
