.block\:instagram {
  @include breakpoint(from tablet-small) {
    text-align: center;
  }
}

.block\:instagram\:\:boxes {
  @include layout-flex;
}

.block\:instagram\:\:box {
  width: 22%;

  @include breakpoint(to tablet-small) {
    width: 48%;
  }

  &:not(:nth-last-child(-n + 2)) {
    @include breakpoint(to tablet-small) {
      margin-bottom: 4%;
    }
  }

  img {
    @include image-full;
  }
}

.block\:instagram\:\:heading {
  @include heading;

  .template\:splash & {
    display: none;
  }
}

.block\:instagram\:\:action {
  @include text;
  margin-bottom: grid(1.5);

  .template\:splash & {
    display: none;
  }
}
