.block\:navigation {
  @include layout-hide;
  background: #dfe1d6;
  color: $RED;
  height: 100%;
  left: 0;
  transition: all .4s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .state\:menu\:\:open & {
    @include layout-show;
  }
}


.block\:navigation\:\:boxed {
  @include layout-container($max: 600px, $maxLarge: 750px);
  padding-top: grid(14);

  @include breakpoint(to tablet-small) {
    padding-top: grid(6);
  }
}

.block\:navigation\:\:nav {
  @include breakpoint(from tablet-small) {
    margin-bottom: grid(10);
  }

  @include breakpoint(to tablet-small) {
    margin-bottom: grid(1);
  }
}

.block\:navigation\:\:boxes {
  @include layout-flex($align: flex-start);
  font-size: 12px;
  font-weight: 200;
  line-height: 1.66667;

  @include breakpoint(to tablet-small) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  a {
    &:hover {
      color: $BROWN;
    }
  }
}

.block\:navigation\:\:box {
  max-width: 300px;

  @include breakpoint(from tablet-small) {
    width: 50%;
  }

  &:last-child {
    @include breakpoint(from tablet-small) {
      text-align: right;
    }

    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
      order: -1;
    }
  }
}


.block\:navigation\:\:social {
  margin-bottom: grid(1);

  @include breakpoint(to tablet-small) {
    justify-content: center;
  }

  svg {
    fill: $RED;
  }

  a:hover svg {
    fill: $BROWN;
  }

  & + p {
    position: relative;
    top: 5px;
  }
}
