.block\:next {
  font-size: 12px;
  font-weight: 200;
  margin-top: grid(4);
  text-align: center;

  a {
    &:hover {
      color: $RED;
    }
  }

  em {
    display: block;
    font-family: $SERIF;
    font-size: 10px;
    font-style: italic;
    margin-bottom: 5px;
  }

  mark {
    text-transform: uppercase;
  }

  &.»mobile {
    @include breakpoint(from tablet-small) {
      display: none;
    }
  }
}
