.block\:our\@story {
  @include layout-container;
}

.block\:our\@story\:\:boxes {
  @include layout-flex($align: stretch);
}

.block\:our\@story\:\:box {
  max-width: 375px;
  width: 30%;

  @include breakpoint(from desktop-large) {
    max-width: 435px;
  }

  @include breakpoint (to tablet-small) {
    width: 100%;
  }

  &:nth-child(3) {
    @include breakpoint (to tablet-small) {
      border-bottom: 1px solid $GREY;
      padding-bottom: grid(3);
    }
  }

  &:not(:last-child) {
    @include breakpoint (to tablet-small) {
      margin-bottom: grid(3);
    }
  }
}

.block\:our\@story\:\:image {
  img {
    @include image-full;
  }

  &:not(:last-child) {
    margin-bottom: grid(1);
  }
}

.block\:our\@story\:\:heading {
  @include heading;
  margin-bottom: grid(.75);
}

.block\:our\@story\:\:content {
  @include text;

  em {
    font-style: italic;
  }

  strong {
    font-weight: 800;
  }
}

.block\:our\@story\:\:links {
  color: $BROWN;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.6;

  a {
    color: $GREY;

    &:hover {
      color: $RED;
    }
  }

  li {
    &:not(:last-child) {
      margin-bottom: grid(.25);
    }
  }

  em {
    font-style: italic;
  }
}


.block\:our\@story\:\:spacer {
  background: $GREY;
  width: 1px;
}
