.block\:our\@approach {
  @include layout-flex($align: flex-start);
  margin-bottom: grid(3);
}

.block\:our\@approach\:\:box {
  &:first-child {
    max-width: 888px;
    width: 65%;

    @include breakpoint(from desktop-large) {
      max-width: 968px;
    }

    @include breakpoint (to tablet-small) {
      margin-bottom: grid(1.25);
      width: 100%;
    }
  }

  &:last-child {
    max-width: 375px;
    position: sticky;
    top: 240px;
    width: 30%;

    @include breakpoint(from desktop-large) {
      max-width: 435px;
    }

    @include breakpoint (to tablet-small) {
      width: 100%;
    }
  }
}
