.block\:services {
  @include layout-container;
}

.block\:services\:\:image {
  margin-bottom: grid(2);

  img {
    @include image-full;
  }
}

.block\:services\:\:boxes {
  @include layout-flex($align: stretch);
}

.block\:services\:\:box {
  width: 30%;

  @include breakpoint(from desktop-large) {
    max-width: 435px;
  }

  @include breakpoint(from tablet-small) {
    max-width: 380px;
  }

  @include breakpoint(to tablet-small) {
    width: 100%;
  }

  &:first-child {
    @include breakpoint(to tablet-small) {
      border-bottom: 1px solid $GREY;
      margin-bottom: grid(2);
      padding-bottom: grid(2);
    }
  }

  &:not(:last-child):not(:first-child) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }
}

.block\:services\:\:content {

  h1, h2, h3, h4, h5, h6 {
    @include heading;
    margin-bottom: grid(.75);
  }

  p {
    @include text;

    &:not(:last-child) {
      margin-bottom: grid(1);
    }

    em {
      font-style: italic;
    }

    strong {
      font-weight: 800;
    }

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: grid(1.5);
    }
  }

  ul {
    @include text;
    margin-top: grid(-1);

    li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
