.form\:inquire {}

.form\:inquire\:\:row {
  &:not(:last-child) {
    margin-bottom: grid(1.25);
  }

  &.»dual {
    @include breakpoint(from tablet-small) {
      @include layout-flex;
    }
  }
}

.form\:inquire\:\:box {
  @include breakpoint(from tablet-small) {
    width: 46%;
  }

  &:not(:last-child) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1)
    }
  }
}

.form\:inquire\:\:input {
  background: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $GREY;
  display: block;
  font-family: $SANS;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: .075em;
  padding-bottom: grid(.5);
  width: 100%;

  &.has-error {
    border-color: red;
  }

  &:focus {
    outline: none;
  }

  @at-root textarea#{&} {
    border: 1px solid $GREY;
    padding: grid(.5);
    resize: none;

    @include breakpoint(to tablet-small) {
      min-height: grid(12);
    }
  }
}

.form\:inquire\:\:label {
  display: block;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: grid(.5);
}

.form\:inquire\:\:action {
  @include layout-flex($justify: center);
}

.form\:inquire\:\:button {
  @include heading;
  font-family: $SANS;
  background: none;
  padding: 0;

  &:hover {
    color: $RED;
    cursor: pointer;
  }
}

.form\:inquire\:\:heading {
  @include heading;
  margin-bottom: grid(1);
}

.form\:inquire\:\:text {
  @include text;
  font-weight: 200;
}

.form\:inquire\:\:success {
  @include layout-hide;
  @include layout-container($max: 500px, $maxLarge: 700px);
  background: $TAN;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  padding: grid(5) 0;
  transform: translate3d(-50%, -50%, 0);

  .state\:form\:\:success & {
    @include layout-show;
  }
}

.form\:inquire\:\:close {
  $o: 15px;
  position: absolute;
  top: $o;
  right: $o;
}

.form\:inquire\:\:boxed {
  @include layout-container($max: 200px);
}
