@import "~normalize.css";
@import "~reset-css/reset.css";
@import "~rs-breakpoints/index";

html { box-sizing: border-box; }
*, :before, *:after { box-sizing: inherit; }


a{
  color: inherit;
  text-decoration: none;
}

address{

}

body{
  background: #f8f5f0;
  color: $BROWN;
  font-family: $SANS;
  letter-spacing: .075em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure{
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

mark{
  background: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
}


.hide\:mobile {
  @include breakpoint(to tablet-small) {
    display: none;
  }
}

::-moz-selection { /* Code for Firefox */
  // color: red;
  background: #EFF0EA;
}

::selection {
  // color: red;
  background: #EFF0EA;
}
