@mixin layout-flex($align: center, $justify: space-between, $direction: row){
  align-items: $align;
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin layout-container($max: 1210px, $maxLarge: 1500px) {
  margin: 0 auto;
  max-width: $max;
  width: 90%;

  @include breakpoint(from desktop-large) {
    max-width: $maxLarge;
  }
}

@mixin layout-show {
  opacity: 1;
  visibility: visible;
}

@mixin layout-hide {
  opacity: 0;
  visibility: hidden;
}

@mixin layout-cover($background: rgba($BLACK, .5)) {
  background: $background;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin layout-cover-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
