@mixin heading {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: .1em;
  text-transform: uppercase;

  em {
    display: block;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 0;
    margin-top: 5px;
    text-transform: none;
  }
}

@mixin text {
  font-size: 12px;
  line-height: 1.6;

  p {
    &:not(:last-child) {
      margin-bottom: grid(.75);
    }
  }

  a {
    color: $GREY;

    &:hover {
      color: $RED;
    }
  }
}
