.component\:button\@menu {
  background: none;
  display: block;
  margin-top: -5px;
  transform-origin: center center;
  width: 25px;

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    cursor: pointer;

    .component\:button\@menu\:\:line {
      background: $RED;
    }
  }

  .state\:menu\:\:open & {
    animation: rotate .5s forwards;
  }
}

.component\:button\@menu\:\:line {
  $o: 6px;
  background: $BLACK2;
  height: 1px;
  margin: 5px 0;
  position: relative;

  .state\:menu\:\:open & {
    background: $RED;
  }

  .»close &:nth-child(1),
  .state\:menu\:\:open &:nth-child(1) {
    transform: rotate(45deg);
    top: $o;
  }

  .»close &:nth-child(2),
  .state\:menu\:\:open &:nth-child(2) {
    @include layout-hide;
  }

  .»close &:nth-child(3),
  .state\:menu\:\:open &:nth-child(3) {
    transform: rotate(-45deg);
    top: -$o;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(90deg)
  }
}
