.component\:gallery {
  img {
    @include image-full;
  }

  a[gallery\@image] {
    display: block;
    width: 100%
  }
}

.component\:gallery\:\:row {
  @include layout-flex;

  &:not(:last-child) {
    margin-bottom: 4%;

    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }
}

.component\:gallery\:\:box {
  &:not(:last-child) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }

  .»two & {
    width: 48%;

    @include breakpoint(to tablet-small) {
      width: 100%;
    }
  }

  .»three & {
    width: 30%;

    @include breakpoint(to tablet-small) {
      width: 100%;
    }
  }
}
