.component\:intro {
  @include layout-flex($align: flex-start);

  &:not(:last-child) {
    margin-bottom: 4%;
  }

  img {
    @include image-full;
  }
}

.component\:intro\:\:box {
  &:first-child {
    @include breakpoint(from tablet-small) {
      width: 65%;
    }

    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }

  &:last-child {
    @include breakpoint(from tablet-small) {
      position: sticky;
      top: 240px;
      width: 30%;
    }
  }
}

.component\:intro\:\:heading {
  @include heading;
  margin-bottom: grid(.75);
}

.component\:intro\:\:text {
  @include text;

  &:not(:last-child) {
    border-bottom: 1px solid $GREY;
    margin-bottom: grid(1.25);
    padding-bottom: grid(1.25);
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 800;
  }
}

.component\:intro\:\:navigation {
  @include text;
}
