$o: grid(2);

.component\:modal\@gallery {
  @include layout-hide;
  @include layout-cover($background: $WHITE);
  @include layout-flex($justify: center);
  position: fixed;
  z-index: 10;

  .state\:modal\@gallery\:\:visible & {
    @include layout-show;
  }

  .slick-track {
    //@include layout-flex($justify: center);
  }
}

.component\:modal\@gallery\:\:box {
  position: relative;
  width: 100%;

  @include breakpoint(to tablet-small) {
    padding: 0 $o;
  }
}

.component\:modal\@gallery\:\:slides {
  width: 100%;
}

.component\:modal\@gallery\:\:slide {
  @include layout-flex($justify: center);
  display: flex !important;
  height: 100vh;

  img {
    @include image-max;
    max-height: 90%;
    width: auto;
    margin: 0 auto;
  }
}

.component\:modal\@gallery\:\:arrow {
  font-size: 12px;
  font-weight: 200;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  @include breakpoint(to tablet-small) {
    display: none;
  }

  &.»next {
    right: $o;
  }

  &.»previous {
    left: $o;
  }

  &:hover {
    color: $RED;
  }
}

.component\:modal\@gallery\:\:close {
  position: absolute;
  top: $o;
  right: $o;
  z-index: 10;
}
