.component\:navigation {
  @include layout-flex;
  color: $RED;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .2em;
  text-transform: uppercase;

  @include breakpoint(to tablet-small) {
    flex-direction: column;
  }

  a {
    &:hover {
      color: $BROWN;
    }

    @include breakpoint(to tablet-small) {
      margin: grid(1) 0;
    }
  }
}
