.component\:social {
  @include layout-flex($justify: flex-end);

  svg {
    @include image-max;
    fill: $BROWN;
  }

  a {
    &:not(:last-child) {
      margin-right: grid(.5);
    }
  }
}

.component\:social\:\:instagram {
  svg {
    $d: 15px;
    height: $d;
    width: $d;
  }
}

.component\:social\:\:pinterest {
  svg {
    height: 16px;
    width: 11px;
  }
}
