@font-face {
  font-family: 'Apercu Web';
  font-style: normal;
  font-weight: 400;
  src: url('apercu_regular.woff2') format('woff2'),
       url('apercu_regular.woff') format('woff');
}

@font-face {
  font-family: 'Apercu Web';
  font-style: normal;
  font-weight: 200;
  src: url('apercu_light.woff2') format('woff2'),
       url('apercu_light.woff') format('woff');
}
