.card\:blog {
  &:hover {
    color: $RED;

    img {
      opacity: .9;
    }
  }
}

.card\:blog\:\:image {
  img {
    @include image-full;
      margin-bottom: grid(.5);
  }
}

.card\:blog\:\:heading {
  @include heading;
}

.card\:blog\:\:time {
  font-size: 12px;
  font-weight: 200;
}
