.card\:featured {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: .1em;
  line-height: 1.4;

  &:hover {
    color: $RED;

    .card\:featured\:\:image {
      opacity: .9;
    }

    .card\:featured\:\:caption:after {
      background: $RED;
    }
  }
}

.card\:featured\:\:image {
  img {
    @include image-full;
    margin-bottom: grid(.75);
  }
}


.card\:featured\:\:caption {
  position: relative;
  text-align: center;
  text-transform: uppercase;

  .»dual & {
    @include breakpoint(from tablet-small) {
      padding-left: 50px;
      text-align: left;
    }
  }

  em {
    display: block;
    font-family: $SERIF;
    font-style: italic;
    letter-spacing: .05em;
    text-transform: none;
  }

  &:after {
    $o: 3px;
    background: $BROWN;
    content: ' ';
    display: block;
    border-radius: 100%;
    height: $o;
    margin: grid(.5) auto 0 auto;
    width: $o;

    .»dual & {
      @include breakpoint(from tablet-small) {
        left: 25px;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
