.card\:gallery {
  display: block;

  &:hover {
    color: $RED;

    img {
      opacity: .9;
    }
  }

  &:not(:last-child) {
    @include breakpoint(to tablet-small) {
      margin-bottom: grid(1);
    }
  }

  .block\:galleries\:\:row.»two & {
    @include breakpoint(from tablet-small) {
      width: 30%;
    }
  }
}

.card\:gallery\:\:image {
  img {
    @include image-full;
    margin-bottom: grid(.5);
  }
}

.card\:gallery\:\:caption {
  font-size: 11px;
  font-weight: 200;
}

.card\:gallery\:\:heading {
  letter-spacing: .1em;
  margin-bottom: grid(.25);
  text-transform: uppercase;
}

.card\:gallery\:\:text {

}
